<!DOCTYPE html>

<html>
<head>
    <title>Mulheres à Mesa</title>
</head>
<body style="font-family:Arial;max-width:800px;margin:auto;padding:20px;">

<div style="text-align:center;">
    <img src="/static/convite.jpg"
         style="width:100%;max-width:500px;border-radius:15px;">
</div>



<h2>Faça sua inscrição</h2>

<form method="POST">

```
<input name="nome" placeholder="Nome" required style="width:100%;padding:8px;"><br><br>

<input name="email" placeholder="Email" required style="width:100%;padding:8px;"><br><br>

<input name="telefone" placeholder="Telefone" style="width:100%;padding:8px;"><br><br>

<input name="igreja" placeholder="Igreja" style="width:100%;padding:8px;"><br><br>

<input name="cidade" placeholder="Cidade" style="width:100%;padding:8px;"><br><br>

<textarea name="observacoes"
          placeholder="Observações"
          style="width:100%;padding:8px;"></textarea><br><br>

<button type="submit">
    Inscrever
</button>
```

</form>


</body>
</html>

